<div id="home-heading">
    {{> heading}}
    <div class="signout">
        <a href="/signout">Sign Out</a>
    </div>
</div>
<div class="home">
    <div class="home-left">
        <h2>Available Books</h2>
        <form id="borrowForm" action="/borrow" method="post">
            {{#each books}}
                {{#if this.Available}}
                    <label><input type="checkbox" class="borrowBook" name="{{this.Title}}" value="{{this.ID}}"> {{this.Title}}</label><br>
                {{/if}}
            {{/each}}
            <input type="submit" id="borrowBtn" value="Borrow" disabled>
        </form>
    </div>
    <div class="home-right">
        <h2>Borrowed Books</h2>
        <form id="returnForm" action="/return" method="post">
            {{#each userbooks}}
                <label><input type="checkbox" class="returnBook" name="{{this.Title}}" value="{{this.ID}}"> {{this.Title}}</label><br>
            {{/each}}
            <input type="submit" id="returnBtn" value="Return" disabled>
        </form>
    </div>
    <div class="home-right">
        <p id="signed-in-username">Signed in as {{email}}</p>
    </div>
    <script>
            {{{script}}}
    </script>

</div>
